@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

@keyframes menu-animation {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes info-animation {
    0% {
        transform: translateY(100vh);
    }
    100% {
        transform: translateY(0px);
    }
}

.menu-modal {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: var(--text-color);
    position: fixed;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: calc(100% - 76px);
    overflow: auto;
    margin: 0;
    margin-right: auto;
    padding: .5em;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--key-color-absent);
    background-color: var(--background-color);
}

.show-menu-false {
    display: none;
}

.show-menu-true {
    animation-name: menu-animation;
    animation-duration: 100ms;
    animation-timing-function: linear;
}

.pitt-logo {
    width: 60px;
    height: auto;
}

/* Header */

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
}

.menu-exit-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    border: none;
    font-size: 22.5px;
    display: flex;
    align-content: flex-start;
    justify-content: center;
}

/* Features */

h2 {
    font-size: small;
    font-weight: bold;
    margin: 15px 10px;
}

.menu-features {
    border-bottom: 1px solid var(--key-color-present);
}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 10px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Footer */

.menu-footer {
    margin-top: auto;
    text-align: center;
}

/* Info Modal */

.info-modal-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .5);
}

.info-modal {
    position: fixed;
    background-color: var(--modal-background-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 6vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    width: 500px;
    max-width: 90vw;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.info-header-title {
    margin-left: auto;
}

.info-header-btn {
    margin-left: auto;
    background-color: inherit;
    border: none;
    color: var(--text-color);
    font-size: 20px;
}

.info-rules {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--key-color-present);
}

.info-examples {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--key-color-present);
}

.info-example {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.letters {
    display: flex;
    gap: 5px;
}

.info-more-info {
    font-size: 15px;
    padding-bottom: 10px;
}

.show-info-false {
    display: none;
}

.show-info-true {
    animation-name: info-animation;
    animation-duration: 200ms;
    animation-timing-function: linear;
}

/* Statistics */

.statistics-modal {
    position: fixed;
    background-color: var(--modal-background-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    width: 400px;
    max-width: 90vw;
}

.statistics-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.statistics-header-title {
    margin-left: auto;
    text-align: center;
}

.statistics-header-btn {
    margin-left: auto;
    background-color: inherit;
    border: none;
    color: var(--text-color);
    font-size: 20px;
}

.statistics-modal-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .5);
}

.main-statistics-content {
    padding-bottom: 20px;
}

.actual-statistics-container {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-value {
    font-size: 34px;
}

.stat-title {
    font-size: 10px;
}

.guess-distribution-container {
    text-align: center;
}

.wrong-stats {
    border: none;
    background-color: inherit;
    color: var(--text-color);
    margin-top: 20px;
    font-size: 14px;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.statistics-footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.share-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 35px;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(116, 227, 116);
    color: var(--text-color);
    font-weight: 600;
    font-size: 17px;
}

.show-statistics-true {
    animation-name: info-animation;
    animation-duration: 200ms;
    animation-timing-function: linear;
}

.show-statistics-false {
    display: none;
}

/* Settings */

.settings-modal {
    position: fixed;
    background-color: var(--modal-background-color);
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 15px;
    width: 450px;
    max-width: 90vw;
}

.settings-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.settings-header-title {
    margin-left: auto;
    text-align: center;
}

.settings-header-btn {
    margin-left: auto;
    background-color: inherit;
    border: none;
    color: var(--text-color);
    font-size: 20px;
}

.settings-modal-container {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0, .5);
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px;
    border-bottom: 1px solid var(--key-color-absent);
    justify-content: space-between;
}

.setting-title {
    font-size: 18px;
}

.setting-description {
    font-size: 12px;
    color: var(--text-color);
}

.switch {
    font-size: 15px;
}

.shameless-plug {
    padding: 10px;
    text-align: center;
    color: var(--key-color-present);
}

.email-link {
    color: var(--text-colo);
}

.show-settings-true {
    animation-name: info-animation;
    animation-duration: 200ms;
    animation-timing-function: linear;
}

.show-settings-false {
    display: none;
}

.guess-distribution-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.guess-line {
    display: flex;
    gap: 5px;
}

.guess-bar {
    background-color: var(--key-color-absent);
    text-align: right;
    padding-right: 5px;
    width: 10%;
}
