@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--key-color-present: #bcbcbc;
	--key-color-absent: #8f8f8f;
	--key-color-yellow: #d5bb48;
	--key-color-green: #77be70;
	--background-color: #fff;
	--text-color: #000000;
	--keyboard-gameboard-color: #000000;
	--modal-background-color: #fff;
}

:root.dark {
	--background-color: #000000;
	--text-color: #fff;
	--modal-background-color: ##fff;
	--key-color-present: #818384;
	--key-color-absent: #3a3a3c;
	--key-color-yellow: #b59f3b;
	--key-color-green: #538d4e;
	--keyboard-gameboard-color: #fff;
	--modal-background-color: #000000;
}

:root.highcontrast {
	--key-color-yellow: #85c0f9;
	--key-color-green: #f5793a;
}

/* Shoutout to: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

@keyframes revealInvalid {
	0% {
		background-color: var(--background-color);
		border-color: var(--key-color-present);
	}
	50% {
		background-color: var(--background-color);
		border-color: var(--key-color-present);
	}

	100% {
		background-color: var(--key-color-absent);
		border-color: var(--key-color-absent);
		transform: rotateX(360deg);
	}
}

@keyframes revealValid {
	0% {
		background-color: var(--background-color);
		border-color: var(--key-color-present);
	}
	50% {
		background-color: var(--background-color);
		border-color: var(--key-color-present);
	}

	100% {
		background-color: var(--key-color-yellow);
		border-color: var(--key-color-yellow);
		transform: rotateX(360deg);
	}
}

@keyframes revealCorrect {
	0% {
		background-color: var(--background-color);
		border-color: var(--key-color-present);
	}
	50% {
		background-color: var(--background-color);
		border-color: var(--key-color-present);
	}

	100% {
		background-color: var(--key-color-green);
		border-color: var(--key-color-green);
		transform: rotateX(360deg);
	}
}

/* Button */

.letter {
	border: none;
	height: 58px;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--key-color-present);
	margin: 0 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--keyboard-gameboard-color);
	font-weight: bold;
	padding: 0.6em;
	font-size: 1em;
	transition-property: background-color;
}

.backspace {
	font-size: 1.75em;
	padding: 0.25em;
}

/* Keyboard */

.keyboard-container {
	display: flex;
	flex-direction: column;
	background-color: var(--background-color);
	height: 40%;
	flex: 1;
}

.keyboard-line {
	display: flex;
	width: 100%;
	margin: 0 auto 8px;
	justify-content: center;
}

.enter {
	padding: 0.25em;
}

/* Navbar */

.navbar {
	background-color: var(--background-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid var(--key-color-absent);
	font-family: "Roboto", sans-serif;
	height: 9vh;
	gap: 10px;
}

.icons {
	display: flex;
	gap: 0.25em;
	font-size: 1.5em;
}

.icon {
	color: var(--text-color);
	background-color: var(--background-color);
	display: flex;
	gap: 0.25em;
	font-size: 1em;
	border: none;
	cursor: pointer;
}

.menu {
	font-size: 1.5em;
}

.page-title {
	margin-right: auto;
}

/* Gameboard */

.gameboard {
	background-color: var(--background-color);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	height: 60%;
}

.board-row {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}

.board-square {
	background-color: var(--background-color);
	border: 2px solid var(--key-color-absent);
	padding: 1rem;
	color: var(--keyboard-gameboard-color);
	font-family: "Roboto", sans-serif;
	font-size: 1.8em;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-duration: 0.9s;
	animation-fill-mode: backwards;
	height: 60px;
	width: 60px;
}

.valid-letter {
	background-color: var(--key-color-yellow);
	border: solid var(--key-color-yellow);
}

.correct-letter-space {
	background-color: var(--key-color-green);
	border: solid var(--key-color-green);
}

.invalid-letter {
	background-color: var(--key-color-absent);
	border: solid var(--key-color-absent);
}

.keyboard-valid-letter {
	background-color: var(--key-color-yellow);
}

.keyboard-invalid-letter {
	background-color: var(--key-color-absent);
}

.keyboard-correct-letter-space {
	background-color: var(--key-color-green);
}

.revealing.valid-letter {
	animation-name: revealValid;
}

.revealing.correct-letter-space {
	animation-name: revealCorrect;
}

.revealing.invalid-letter {
	animation-name: revealInvalid;
}

.column1 {
	animation-delay: 0.9s;
}

.column2 {
	animation-delay: 1.8s;
}

.column3 {
	animation-delay: 2.7s;
}

.column4 {
	animation-delay: 3.6s;
}

@keyframes revealInvalidKey {
	0% {
		background-color: var(--key-color-present);
	}
	100% {
		background-color: var(--key-color-absent);
	}
}

@keyframes revealValidKey {
	0% {
		background-color: var(--key-color-present);
	}
	100% {
		background-color: var(--key-color-yellow);
		
	}
}

@keyframes revealCorrectKey {
	0% {		
		background-color: var(--key-color-present);
	}
	100% {
		background-color: var(--key-color-green);
	}
}

.revealkey.keyboard-invalid-letter {
	transition-delay: 4.5s;
	background-color: var(--key-color-absent);
}

.revealkey.keyboard-valid-letter {
	transition-delay: 4.5s;
	background-color: var(--key-color-yellow);
}

.revealkey.keyboard-correct-letter-space {
	transition-delay: 4.5s;
	background-color: var(--key-color-green);
}

@media (min-width: 550px) {
	.letter {
		font-size: 1em;
		padding: 1em;
	}

	.backspace {
		font-size: 1.75em;
	}

	.keyboard-line {
		justify-content: center;
	}
}

@media (min-width: 700px) {
	.navbar {
		justify-content: space-between;
	}

	.box {
		flex: 1;
		display: flex;
		justify-content: center;
	}

	.page-title {
		margin-right: 0;
	}
}

/* Congradulation */

.congradulations-modal-container {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;
	background-color: rgb(0, 0, 0, 0.3);
}

.congradulations-modal {
	position: fixed;
	background-color: var(--text-color);
	border-radius: 5px;
	font-family: "Roboto", sans-serif;
	color: var(--modal-background-color);
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	top: 10vh;
	display: flex;
	flex-direction: column;
	padding: 20px;
	gap: 10px;
	max-width: 500px;
}

.show-congradulations-false {
	display: none;
}

.show-congradulations-true {
	opacity: 0;
	animation-name: congradulations-animation;
	animation-delay: 4.5s;
	animation-duration: 100ms;
	animation-fill-mode: forwards;
}

.congradulations-button {
	width: 65%;
	height: 3em;
	margin-left: auto;
	margin-right: auto;
	border: none;
	border-radius: 4px;
	font-weight: bold;
	font-size: 1em;
	padding: 5px;
	background-color: var(--key-color-green);
}

@keyframes congradulations-animation {
	0% {
		opacity: 100%;
	}
	100% {
		opacity: 100%;
	}
}

/* Invalid row animation */

@keyframes invalid-animation {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(-5px);
	}
	75% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

.invalid-true {
	animation-name: invalid-animation;
	animation-duration: .3s;
}

.invalid-word-modal {
	position: fixed;
	font-family: "Roboto", sans-serif;
	background-color: var(--text-color);
	color: var(--modal-background-color);
	border-radius: 5px;
	top: 9.5vh;
	height: 6vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.invalid-word-container {
	display: flex;
	justify-content: center;
}

.invalid-length-container {
	display: flex;
	justify-content: center;
}

.show-invalid-word-false {
	display: none;
}

/* Invalid length */

.invalid-length-modal {
	position: fixed;
	font-family: "Roboto", sans-serif;
	background-color: var(--text-color);
	color: var(--modal-background-color);
	border-radius: 5px;
	top: 9.5vh;
	height: 6vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.show-invalid-length-false {
	display: none;
}

