@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
}

:root {
	--key-color-present: #818384;
	--key-color-absent: #3a3a3c;
	--key-color-yellow: #b59f3b;
	--key-color-green: #538d4e;
}

/* Shoutout to: https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting */
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
}

@keyframes revealInvalid {
	0% {
		background-color: black;
		border-color: var(--key-color-present);
	}
	50% {
		background-color: black;
		border-color: var(--key-color-present);
	}

	100% {
		background-color: var(--key-color-absent);
		border-color: var(--key-color-absent);
		transform: rotateX(360deg);
	}
}

@keyframes revealValid {
	0% {
		background-color: black;
		border-color: var(--key-color-present);
	}
	50% {
		background-color: black;
		border-color: var(--key-color-present);
	}

	100% {
		background-color: var(--key-color-yellow);
		border-color: var(--key-color-yellow);
		transform: rotateX(360deg);
	}
}

@keyframes revealCorrect {
	0% {
		background-color: black;
		border-color: var(--key-color-present);
	}
	50% {
		background-color: black;
		border-color: var(--key-color-present);
	}

	100% {
		background-color: var(--key-color-green);
		border-color: var(--key-color-green);
		transform: rotateX(360deg);
	}
}

/* Button */

.letter {
	border: none;
	height: 58px;
	cursor: pointer;
	border-radius: 4px;
	background-color: var(--key-color-present);
	margin-right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: bold;
	padding: 0.6em;
	font-size: 1em;
}

.backspace {
	font-size: 1.75em;
	padding: 0.25em;
}

/* Keyboard */

.keyboard-container {
	display: flex;
	flex-direction: column;
	background-color: black;
}

.keyboard-line {
	display: flex;
	width: 100%;
	margin: 0 auto 8px;
	justify-content: center;
}

.enter {
	padding: 0.25em;
}

/* Navbar */

.navbar {
	background-color: black;
	color: white;
	display: flex;
	gap: 0.5em;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #3a3a3c;
	font-family: "Roboto", sans-serif;
	max-height: 35px;
	min-height: 35px;
}

.icons {
	display: flex;
	gap: 0.25em;
	font-size: 1.5em;
}

.icon {
	color: white;
	background-color: black;
	display: flex;
	gap: 0.25em;
	font-size: 1em;
	border: none;
	cursor: pointer;
}

.menu {
	font-size: 1.5em;
}

.page-title {
	margin-right: auto;
}

/* Gameboard */

.gameboard {
	background-color: black;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	flex: 1;
}

.board-row {
	display: flex;
	gap: 5px;
	align-items: center;
	justify-content: center;
}

.board-square {
	background-color: black;
	border: 2px solid var(--key-color-absent);
	padding: 1rem;
	color: white;
	font-family: "Roboto", sans-serif;
	height: 1em;
	width: 1em;
	font-size: 1.8em;
	display: flex;
	justify-content: center;
	align-items: center;
	animation-duration: 0.9s;
	animation-fill-mode: backwards;
}

.valid-letter {
	background-color: var(--key-color-yellow);
	border: 2px solid var(--key-color-yellow);
}

.correct-letter-space {
	background-color: var(--key-color-green);
	border: 2px solid var(--key-color-green);
}

.invalid-letter {
	background-color: var(--key-color-absent);
}

.revealing.valid-letter {
	animation-name: revealValid;
}

.revealing.correct-letter-space {
	animation-name: revealCorrect;
}

.revealing.invalid-letter {
	animation-name: revealInvalid;
}

.column1 {
	animation-delay: 0.9s;
}

.column2 {
	animation-delay: 1.8s;
}

.column3 {
	animation-delay: 2.7s;
}

.column4 {
	animation-delay: 3.6s;
}

@media (min-width: 550px) {
	.letter {
		font-size: 1em;
		padding: 1em;
	}

	.backspace {
		font-size: 1.75em;
	}

	.keyboard-line {
		justify-content: center;
	}
}

@media (min-width: 700px) {
	.navbar {
		justify-content: space-between;
	}

	.page-title {
		margin-right: 0;
	}
}
