html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    box-sizing: border-box;
}

.root {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.game-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
