html,
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}

.game-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

